# Lambda expressions

Lambda expressions is one of the most useful tools in Python. lambda expressions allow us to create "anonymous" functions. This basically means we can define functions without using `def`.

In Python, an anonymous function is a function that is defined without a name. The `def` keyword is used to define a normal function in Python. But the `lambda` keyword is used to define an anonymous function in Python. 

**Python Lambda Function Syntax:**

  `lambda argument(s): expression`
  
  * Lambda function can have any number of arguments but only one expression, which is evaluated and returned.
  * One is free to use lambda functions wherever function objects are required.
  * Function objects returned by running lambda expressions work exactly the same as those created and assigned by `def`.

The `lambda`'s body is similar to what we would put in a `def` body's return statement. We simply type the result as an expression instead of explicitly returning it.

Lets explain a lambda expression by starting from a normal function:

In [46]:
def double_value(x):
    result = x * 2
    return result

In [47]:
same_value(2)

2

Continuing the illustration:

In [48]:
def double_value(x):
    return x * 2

In [49]:
same_value(2)

2

We can write this function in one line (although it would be bad style to do so)

In [50]:
def double_value(x): return x * 2

In [51]:
double_value(2)

4

This is the form a function that a lambda expression uses. A lambda expression can then be written as:

In [52]:
lambda x: x * 2

In the example above, the expression is composed of:

  * The keyword: __lambda__
  * A bound variable: __x__
  * A body: __x * 2__

Note how we get a function back. We can assign this function to a variable:

In [53]:
double_value = lambda x: x * 2

and we can call the lambda function using this variable

In [54]:
double_value(3)

6

Lets see another examples:

### Example 1: Add two numbers

In this example we have two arguments: x, y

In [55]:
add_numbers = lambda x, y: x+y

In [56]:
add_numbers(3, 5)

8

###  Example 2 Lamabda with lists:

In [57]:
list_num = [1,25,14,7,33,96,47,78,19]

In [58]:
# The filter() function in Python takes in a function and a list as arguments.
# The function is called with all the items in the list
# and a new list is returned which contains items for which the function evaluates to True.
list(filter(lambda x: x > 50, list_num))

[96, 78]

### Example 3 Lambda with Series:

In [59]:
import pandas as pd
df = pd.DataFrame({
    'Company': ['Microsoft','Google','Youtube','Apple'],
    'Year': [1975, 1998, 2005, 1976],
})

In [60]:
df['duration'] = df['Year'].apply(lambda x: 2022-x)

df

     Company  Year  duration
0  Microsoft  1975        47
1     Google  1998        24
2    Youtube  2005        17
3      Apple  1976        46

lambda expressions really shine when used in conjunction with `map()`,`filter()` and `reduce()`, which each function of them need a separated article